<div class="container">
  
  <table class="types-table">
    <tr> 
      <td>Title</td>
      <td> by</td>
      <td> made on</td>
      <td> edit</td>
      <td> delete</td>
    </tr>
    <% @types.each do |type| %>
      <tr> 
        <td><%= link_to type.title, type_path(type) %></td>
        <td><%= type.user.email %></td>
        <td><%= type.created_at %></td>
        <% if type.user.id == current_user.id %>
          <td><%= link_to "Edit", edit_type_path(type) %></td>
          <td><%= link_to "Delete", type_path(type), method: :delete %></td>
        <% end %>
      </tr>
    <% end %>
  </table>

</div>
